<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atividade</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="conteiner">
        <header>
            <a href="{{url_for('cadastro')}}">cadastro</a>
            <a href="{{url_for('usuarios')}}">usuarios</a>
        </header>
        <section>
            {% block conteudo %}
            {% endblock %}
        </section>
    </div>
</body>
</html>