{% extends 'layout.html' %}

{% block navbar %}

<!-- aqui podemos definir elementos de acordo com o usuário logado -->
{% if not current_user.is_authenticated %}
    <a href="{{url_for('register')}}">Cadastro</a>
    <a href="{{url_for('login')}}">Login</a>    
{% else %}
    {{current_user.email}}
{% endif %}
{% endblock %}

{% block conteudo %}
    <ul>
        <h2>Usúarios:</h2>
        {% for user in users %}
        <li>
            {{user['id']}} | {{user['email']}}
        </li>
        {% endfor %}
    </ul>

{% endblock %}